/bin
/target
/.DS_Store
/.classpath
/.settings
/src/vb/stil/StilChecker.java
/src/vb/stil/StilLexer.java
/src/vb/stil/StilParser.java
/src/vb/stil/StilGenerator.java
/gen/program.j
/gen/output.txt
/gen/Program.class
